<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tkzou.middleware.mybatis.mapper.UserMapper">
    <insert id="insert">
    </insert>
    <update id="update">
    </update>
    <delete id="delete">
    </delete>
    <select id="findOne" resultType="com.tkzou.middleware.mybatis.entity.User">
        select * from t_user
        <if test="id != null">
            where id = ${id}
            <if test="xx != null">
                limit 1
            </if>
        </if>
    </select>
    <select id="selectOne" resultType="com.tkzou.middleware.mybatis.entity.User">
    </select>
</mapper>